<footer id="nr_footer" class="row">
        <div class="container">
            <div class="row twitterSlide">                
                <div class="owl-carousel twitterSlider">
                    <div class="item">
                        <i class="fa fa-check"></i><br>
                        Свободный доступ к информации
                    </div>
                    <div class="item">
                        <i class="fa fa-check"></i><br>
                        Помощь в самореализации личности
                    </div>
                    <div class="item">
                        <i class="fa fa-check"></i><br>
                        Реализация коммуникативных потребностей
                    </div>
                    <div class="item">
                        <i class="fa fa-check"></i><br>
                        Свободный доступ к архивным документам
                    </div>
                       <div class="item">
                        <i class="fa fa-check"></i><br>
                        Территория для научной работы
                    </div>
                </div>
            </div>
            <div class="footerWidget row">
                <div class="col-sm-6 widget">
                    <div class="getInTouch_widget row">
                        <div class="widgetHeader row m0"><img src="~/images/whiteSquare.png" alt="">Информация для связи</div>        
                        <div class="row getInTouch_tab m0">
                            <ul class="nav nav-tabs nav-justified" role="tablist" id="getInTouch_tab">
                              <li role="presentation" class="active"><a href="#contactPhone" aria-controls="contactPhone" role="tab" data-toggle="tab"><i class="fa fa-phone"></i></a></li>
                              <li role="presentation"><a href="#contactEmail" aria-controls="contactEmail" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i></a></li>
                              <li role="presentation"><a href="#contactHome" aria-controls="contactHome" role="tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                            </ul>

                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="contactPhone"><i class="fa fa-phone"></i> Звонки по России: 111-111-111</div>
                              <div role="tabpanel" class="tab-pane" id="contactEmail"><i class="fa fa-envelope"></i>email: mail@mail.com</div>
                              <div role="tabpanel" class="tab-pane" id="contactHome"><i class="fa fa-home"></i>Россия, г. Новоуральск, ул. Фрунзе, 13 </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6 widget">
                    <div class="row">
                        <div class="widgetHeader row m0"><img src="~/images/whiteSquare.png" alt="">Наша галерея</div>        
                        <ul class="footer-gallery">
                            <li><img src="~/images/gallery/1.jpg"></li>
                            <li><img src="~/images/gallery/1.jpg"></li>
                            <li><img src="~/images/gallery/1.jpg"></li>
                        </ul>                       
                    </div>    
                </div>
            </div>
            <div class="row copyrightRow">
                &copy; Zyuev Kirill - Сайт городской Библиотеки Новоуральска
            </div>
        </div>
    </footer>