  <div id="pageloader" class="row m0">
        <div class="loader-item"><img src="~/images/loader.gif" alt="загрузка"></div>
    </div> 
    <header class="row">
        <div class="container">
            <div class="row">
                <div class="logo col-sm-6">
                    <div class="row logo">
                        <a asp-action="Index" asp-controller="Home" asp-area=""><img src="~/images/logo.png"></a>
                    </div> 
                </div>
               
            </div>
        </div>
    </header> <!--Header-->