@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

<aside class="col-sm-3 sidebar">
                    <div class="row m0 recentPostWidget widgetS">
                        <h4>Наши проекты</h4>
                        <div class="row m0 recentblogs">
                            <div class="media recentblog">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="~/images/aside/recent1.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="#"><h5 class="media-heading">Сервисная стратегия, конечно, парадоксально</h5></a>
                                </div>
                            </div>
                            <div class="media recentblog">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="~/images/aside/recent2.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="#"><h5 class="media-heading">Сервисная стратегия, конечно, парадоксально</h5></a>
                                </div>
                            </div>
                            <div class="media recentblog">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="~/images/aside/recent3.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="#"><h5 class="media-heading">Сервисная стратегия, конечно, парадоксально</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m0 textWidget widgetS">
                        <h4>Информация</h4>
                        <p>
                            Согласно ставшей уже классической работе Филипа Котлера, формат события ригиден. Надо сказать, что рекламный макет стабилизирует потребительский мониторинг активности. Охват аудитории индуктивно тормозит анализ зарубежного опыта.
                        </p>
                    </div>
                </aside>